html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    background-image: linear-gradient(to right, rgb(8, 126, 137) , rgb(166, 96, 177));
}


img:hover {
    width: 300px;
    align-content: center;
    position: relative;
    opacity: 100;
}

img {
    width: 300px;
    align-content: center;
    margin-left: 200px;
    margin-right: 200px;
    position: relative;
    opacity: 0;
}

p {

    font-size: 18px;
    margin-bottom: 50px;
}


b {
    border: 2px solid hsl(283, 41%, 69%);
    font-size: 32px;
    color: midnightblue;
    padding: 10px 10px 10px 10px;
}


#text {
    color:rgb(255, 255, 255);
    font-size: 80px;
    background-color: beige;
    padding: 300px;
    margin-bottom:40px;
    font-style: regular;
}

h1 {
    color:rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    padding: 40px;
    margin-bottom:10px;
    font-style: regular;
}

h2 {
    color:rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    padding: 20px;
    margin-bottom:40px;
    font-style: regular;
}

a {
    color:rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 40px;
    margin-bottom:40px;
    font-style: regular;
}

a:hover {
    color:rgb(46, 46, 78);
    font-size: 20px;
    font-style:italic;
}

time{
    border: 2px solid #e7ff49;
}

cite{
    border: 2px solid #a6e4fb;
}
