body {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(235, 103, 255);
    font-size: 20px;
    padding: 30px;
    background-color:rgb(161, 253, 0)
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

img {
    border-radius: 10%;
    border: 20px;
    border: 10px dotted rgb(235, 103, 255);
}