

body {
    background-color: #252525;
    min-height: 100vh;
}

.big-shoulders-display {
    font-family: "Big Shoulders Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }



.heading {
    display: flexbox;
    grid-template-columns: repeat(1,50px); 
    grid-template-rows: repeat(2, 50px);    
    justify-content: center;
}

a {
    text-decoration: none;
}
.hover-paragraph {
    font-family: "Big Shoulders Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #C92C2C;
    font-size: 80px;
    padding-left: 100px;
    font-weight: 700;
}

.hover-title {
    padding-left: 100px;
    font-family: "Big Shoulders Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #FEFDF9;
    font-size: 200px;
    font-weight: 700;
}

h3 {
    font-family: "Big Shoulders Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #FEFDF9;
    font-size: 60px;
    font-weight: 400;
}
h3:hover {
    font-family: "Big Shoulders Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #C92C2C;
    background-color: #252525;
    font-size: 60px;
    font-weight: 700;
}

.grid-container {
    display: grid;
    position: fixed;
    top: 500px;
    left:200px;
    grid-template-columns: repeat(6, 250px); 
    grid-template-rows: repeat(2, 370px);    
    justify-content: center;
}
